*{
    margin: 0;
    padding: 0;
    font-family:;
}
body{
    box-sizing: border-box;
    
    background-color: #222;
    
}   
.main{
   
}
.nav-bar{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    border: 2px solid black;
    color:#222;
    background: linear-gradient(135deg,rgba(244, 5, 5, 0.879),rgba(69, 3, 252, 0.573));
    margin: 0 20px 0 20px;
    border-radius: 10px;

   
}
hr{
   
}
.arvin{
    padding-left: 10px;
}
.ol{
    display: flex;
    padding-top: 5px;
    width: 300px;
}
.li{
    text-decoration: none;
    list-style-type: none;
    padding-left: 35px;
}
.li a{
    text-decoration: none;
    color:black;
    font: size 1.1em;
    font-weight: bold;
}
.arvin{
    color: black;
    text-decoration: none;
}
.current{
   font-weight: bolder;
   font-size: 1.1rem;

}
.body{
    padding-top: 150px;
    padding: 100px 20px 20px 10px;
    padding-left: 70px;
    margin: 20px 20px 50px 20px;
    background: linear-gradient(135deg,rgba(244, 5, 5, 0.879),rgba(69, 3, 252, 0.573));
    border-radius: 20px;
    border: 2px solid black;
}
.greetings{
}
.left-main{
    border: 20px solid #222;
    border-radius: 10px;
    max-width: fit-content;
    padding: 40px 300px 40px 20px;
}
.my-name {
    font-size: 4rem;
    margin-bottom: 5px;
}
.but{
    margin-top: 30px;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: black;
    color: rgb(234, 45, 98);
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
}
.btn:hover{
    box-shadow:2px 0px 9px -1px rgba(0,0,0,0.65);
    font-size: 1rem;

}
.img{
    width: 50px;
    margin: 0 10px;
}
.links{
    display: flex;
}
.stats{
    display: flex;
    margin: 30px 35%;
    padding: 10px 25px;
    justify-content: space-between;
    box-shadow:2px 0px 9px -1px rgba(0,0,0,0.65);
    border-radius: 40px;
    border: 8px solid #222;
}
.block{
    display: flex;
}
.img2{
    width: 40px;
    border-radius: 50%;
    box-shadow:;
    margin-right: 5px;
}
.sub-block h2{
    padding-left: 10px;

}
.projects-grid{
    padding-top: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: linear-gradient(135deg,rgba(244, 5, 5, 0.879),rgba(69, 3, 252, 0.573));
    border-radius: 30px;
    margin: 20px 20px;
    
}
.project-container{
    margin: 20px;
    box-shadow:2px 0px 9px -1px rgba(0,0,0,0.65);
    padding: 10px;
    width: fit-content;
    background:#222;
    border-radius: 10px;
}
.project-image{
    width: 270px;
   height: 170px
}
.project-name{
    padding: 7px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}
.link{
    text-decoration: none;
    color: black;
}
.certificate-grid{
    padding: 80px;
    background: linear-gradient(135deg,rgba(244, 5, 5, 0.879),rgba(69, 3, 252, 0.573));
    border-radius: 30px;
    margin: 20px;
}
.certificate-image{
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    /*box-shadow:2px 0px 9px -1px rgba(0,0,0,0.65);*/
}
.hr{
    color: #222;
    background: #222;
}
.frontend,.backend,.python{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.certificate-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right:200px ;
}
.certificate-name{
    font-size: 1.5rem;
    align-items: center;
    padding-left:30px; 
    padding-bottom: 20px;
    font-weight: bolder;
}
@media (max-width:576px) {
    .nav-bar{
        justify-content:space-between;
        padding: 10px 10px 10px 10px;
       
    }
    .ol{
        margin-right:0px;
      

    }
    .arvin{
        margin-right: 60px;
    }
    .li{
        padding-left: 15px;
    }
    .body{
        padding-left: 20px;
        padding-top: 60px;
    }
    .left-main{
        padding: 20px ;
        max-width: max-content;
    }
    .stats{
        margin: 50px 30px;
    }
    .projects-grid{
        display: block;
        padding-left: 35px;
        padding-bottom: 20px;
        padding-top: 0;
    }
    .project-container{
        margin-top:30px ;

    }
    .certificate-grid{
        padding-top: 50px;
        padding-left: 20px;
    }
    .certificate-image{
        width: 350px;
    }
    .frontend,.backend,.python{
        display: block;
    }
    .certificate-container{
        margin-top: 20px;
        margin-bottom: ;
        
    }
    .certificate-name{
        font-size: 1.4rem;
        padding-left: 10px;
    }
}

